<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgalomkorlátozások</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<main role="main" class="container my-5 pb-5">
    <div class="row" style="display: contents">
        <div class="col jumbotron pb-1" style="margin-bottom: unset">
            <h3 class="display-4 text-center">Üdvözlünk honlapunkon!</h3>
        </div>
    </div>
    <div class="row container md-5" style="display: contents">
        <div class="col jumbotron" style="margin-bottom: unset">
            <p class="text-center">Oldalunkon megtalálja az éppen hatájban lévő forgalomkorlátozásokat, az ország egész területére vonatkozóan.</p>
            <p class="pb-5 text-center">Adatainkat elérheti REST API klienssel is. Szolgáltatásaink körét folyamatosan bővítjük!</p>
            <p class="display-6 text-center">Jó böngészést kívánunk!</p><br>
            <p class="display-6 text-center"><img th:src="@{/images/kezdokep.jpg}" alt=""></p>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>-->
</body>
</html>