<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<main role="main" class="flex-shrink-0">
    <div class="container md-5" style="display: contents">
        <div class="jumbotron" style="margin-bottom: unset">
            <form action="#" th:action="@{/regisztral_feldolgoz}" th:object="${reg}" method="post">
                <fieldset>
                    <legend>Regisztráció</legend>
                    <p><input type="text" th:field="*{bejelentkezes}" placeholder="Felhasználónév" required/></p>
                    <p><input type="text" th:field="*{csaladi_nev}" placeholder="Vezetéknév" required/></p>
                    <p><input type="text" th:field="*{utonev}" placeholder="Keresztnév" required/></p>
                    <p><input type="text" th:field="*{email}" placeholder="E-mail cím" required/></p>
                    <p><input type="password" th:field="*{jelszo}" placeholder="Jelszó" required/></p>
                    <p><input type="submit" value="Regisztráció" /></p>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>