<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<main role="main" class="container my-5 pb-5">
    <div class="row container md-5" style="display: contents">
        <div class="col jumbotron pb-3 pt-4" style="margin-bottom: unset">
            <h3 class="display-5 text-center">Csak bejelentkezett felhasználó láthatja ezt az oldalt.</h3>
        </div>
        <div class="row" style="display: contents">
            <div class="col jumbotron pt-4" style="margin-bottom: unset">
                <p class="text-center" id="rest"></p>
                    <script>
                        document.getElementById("rest").innerHTML =
                            "Az oldalunk adatait elérhetik a kedves felhasználóink az alábbi REST-api címen: " + window.location.href + "/api/megnevezes/";
                    </script>
                <p class="text-center">Egy REST api klienssel a szolgáltatás könnyen igénybevehető.</p><br>
                <p class="text-center">A parancsok a következők:</p>
                <p>
                    <ul class="text-center" style="list-style-type: none;">
                        <li>GET - Az adatok lekérésére, összes vagy csak egy</li>
                        <li>POST - Új adat felvitele</li>
                        <li>PUT - Meglévő adat módosítása</li>
                        <li>DELETE - Meglévő adat törlése</li>
                    </ul>
                </p>
                <p class="text-center"><img th:src="@{/images/forgalomkorlatozas.jpg}" style="width: 60%" alt=""></p>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>